<!DOCTYPE html>
<html>
<head>
    <title>Search Words</title>
    <style>
        body {
            background-color: #FFEBCD;
            font-family: Arial, sans-serif;
        }
        .container-small {
        margin-top: 20px;
    }
    
    .abc {
        text-align: center;
        margin-bottom: 20px;
    }
</style>
</head>
<body>
    <div class="container-small">
        <div class="abc">
            <h3> Badal Patel - 1002085523</h3>
            <h3>2235 - CSE 6332 - 002 - Assignment 05</h3>
        </div>
    </div>
    <h1>Search Words</h1>
    <form action="/first" method="post">
        {{ form.csrf_token }}
        {{ form.y.label }} {{ form.y(size=20) }}
        {{ form.submit }}
    </form>
    {% if error %}
    <p>Error: {{ error }}</p>
    {% endif %}
</body>
</html>
